.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 4 / 2;
}
.div3 {
  grid-area: 1 / 2 / 4 / 3;
}
@media (max-width: 768px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
}
